body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
background: linear-gradient(120deg, #0f172a, #1e293b);
color: #fff;
}

/* NAVBAR */
.navbar {
display: flex;
justify-content: space-between;
padding: 20px 50px;
position: sticky;
top: 0;
background: rgba(0,0,0,0.4);
backdrop-filter: blur(10px);
}

.navbar a {
margin-left: 20px;
color: #ccc;
text-decoration: none;
}

.navbar a:hover {
color: white;
}

/* HERO */
.hero {
display: flex;
align-items: center;
justify-content: space-between;
padding: 80px 50px;
}

.hero-text h1 {
font-size: 48px;
}

.sub {
color: #aaa;
}

.hero-img img {
width: 250px;
border-radius: 20px;
}

/* BUTTONS */
.btn {
display: inline-block;
margin: 10px 10px 0 0;
padding: 10px 20px;
border-radius: 8px;
background: #2563eb;
color: white;
text-decoration: none;
}

.btn:hover {
background: #1d4ed8;
}

/* SECTIONS */
.section {
padding: 60px 50px;
}

.center {
text-align: center;
}

/* CARDS */
.cards {
display: flex;
gap: 20px;
}

.card {
background: rgba(255,255,255,0.05);
padding: 15px;
border-radius: 15px;
width: 30%;
transition: 0.3s;
}

.card:hover {
transform: translateY(-10px);
}

.card img {
width: 100%;
border-radius: 10px;
}

/* SKILLS */
.skills span {
display: inline-block;
padding: 10px 15px;
margin: 10px;
background: rgba(255,255,255,0.1);
border-radius: 10px;
}

img {
width: 100%;
border-radius: 12px;
}
